{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Farmacia 'El Tambo'</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/colors.css' %}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
    <script type="text/javascript" src="{% static 'assets/js/plugins/notifications/bootbox.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/notifications/sweet_alert.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>

	<script type="text/javascript" src="assets/js/plugins/forms/styling/uniform.min.js"></script>

	<script type="text/javascript" src="assets/js/core/app.js"></script>
	<script type="text/javascript" src="assets/js/pages/login.js"></script>
	<!-- /theme JS files -->

</head>

<body class="login-container bg-slate-800">

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Content area -->
				<div class="content">

					<!-- Advanced login -->
                    {% if validlink %}
					<form method="post">
                        {% csrf_token %}
						<div class="panel panel-body login-form">
							<div class="text-center">
								<div class="icon-object border-warning text-warning"><i class="icon-key"></i></div>
								<h5 class="content-group">Restablecer Contraseña</h5>
							</div>

							<div class="form-group has-feedback has-feedback-left">
								<input type="password" class="form-control" placeholder="Ingrese Nueva Contraseña" name="new_password1" required="">
								<div class="form-control-feedback">
									<i class="icon-lock2 text-muted"></i>
								</div>
							</div>
                            <div class="form-group has-feedback has-feedback-left">
								<input type="password" class="form-control" placeholder="Vuelva a Ingresar Contraseña" name="new_password2" required="">
								<div class="form-control-feedback">
									<i class="icon-lock2 text-muted"></i>
								</div>
							</div>

							<button type="submit" class="btn bg-blue btn-block">Reiniciar Contraseña <i class="icon-arrow-right14 position-right"></i></button>
                            <br>
                            <span class="help-block text-center no-margin"><a href="{% url 'login' %}">Cancelar</a></span>
                                {% if  form.new_password1.errors    %}
                                <div class="alert alert-danger">{{ form.new_password1.errors }}</div>
                                {% endif %}
                                {% if  form.new_password2.errors    %}
                                 <div class="alert alert-danger">{{ form.new_password2.errors }}</div>
                                {% endif %}

						</div>
					</form>
                        {% else %}
                        	<div class="panel panel-body login-form">
							<div class="text-center">
								<div class="icon-object border-danger text-danger"><i class="icon-cross2"></i></div>
								<h5 class="content-group">ENLACE NO VALIDO</h5>
							</div>



							<br>
                            <span class="help-block text-center no-margin"><a href="{% url 'login' %}">Salir</a></span>


						</div>

                    {% endif %}
					<!-- /advanced login -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
</html>
