{% extends  'base/base.html'%}
{% block content-header %}
				<div class="page-header page-header-default">
					<div class="page-header-content">
						<div class="page-title">
							<h4><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-arrow-left52 position-left"></i> </a><span class="text-semibold">Inicio</span> - Bienvenidos a Farmacia el Tambo</h4>
						</div>
                        <div class="heading-elements">
							<div class="heading-btn-group">
								<a href="#" class="btn btn-link btn-float has-text"><i class="icon-stack text-primary"></i><span>Cuadros</span></a>
								<a href="#" class="btn btn-link btn-float has-text"><i class="icon-stats-dots text-primary"></i> <span>Series</span></a>
								<a href="#" class="btn btn-link btn-float has-text"><i class="icon-pin-alt text-primary"></i> <span>Mapas</span></a>
								<a href="#" class="btn btn-link btn-float has-text"><i class="icon-file-download2 text-primary"></i><span>Descargar</span></a>
							</div>
						</div>

					</div>


				</div>
{% endblock %}



{% block content %}
					<div class="panel panel-flat">
						<div class="panel-heading">
							<h5 class="panel-title">Gestion de Usuarioss</h5>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<!--
			                		<li><a data-action="reload"></a></li>
			                		<li><a data-action="close"></a></li>-->
			                	</ul>
		                	</div>
						</div>

						<div class="panel-body">
							<!--<p class="content-group">Besides navigation, navbar component supports custom content such as: dropdown menus with custom content, full width dropdowns, language selects, forms, tabs, multi level menus, date pickers etc. Everything is adapted to use in different navbar color schemes and sizes. Examples below demonstrate some of these components, other examples related to <code>mega menu</code> can be found <a href="navigation_horizontal_mega.html">on this page</a>.</p>-->
							<!-- Basic datatable -->
					<div class="panel panel-flat">
						<table class="table datatable-basic">
							<thead>
								<tr>
									<th>Departamento</th>
									<th>Año 1</th>
									<th>Año 2</th>
									<th>Año 3</th>
									<th>Estado</th>
									<th class="text-center">Accion</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Lima</td>
									<td><a href="#">19.6</a></td>
									<td>20.5</td>
									<td>22.6</td>
									<td><span class="">Activo</span></td>

									<!--<td><span class="label label-success">Active</span></td>-->
									<td class="text-center">
										<ul class="icons-list">
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>

												<ul class="dropdown-menu dropdown-menu-right">
													<li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
													<li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
													<li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
												</ul>
											</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>Arequipa</td>
									<td>26.4</td>
									<td><a href="#">25.8</a></td>
									<td>28.9</td>
									<td><span class="">Inactivo</span></td>
									<!--<td><span class="label label-default">Inactive</span></td>-->
									<td class="text-center">
										<ul class="icons-list">
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>

												<ul class="dropdown-menu dropdown-menu-right">
													<li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
													<li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
													<li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
												</ul>
											</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>Ica</td>
									<td>15.8</td>
									<td>14.9</td>
									<td>15.7</td>
									<td><span class="">Suspended</span></td>
									<!--<td><span class="label label-danger">Suspended</span></td>-->
									<td class="text-center">
										<ul class="icons-list">
											<li class="dropdown">
												<a href="#" class="dropdown-toggle" data-toggle="dropdown">
													<i class="icon-menu9"></i>
												</a>

												<ul class="dropdown-menu dropdown-menu-right">
													<li><a href="#"><i class="icon-file-pdf"></i> Export to .pdf</a></li>
													<li><a href="#"><i class="icon-file-excel"></i> Export to .csv</a></li>
													<li><a href="#"><i class="icon-file-word"></i> Export to .doc</a></li>
												</ul>
											</li>
										</ul>
									</td>
								</tr>

							</tbody>
						</table>


					</div>

						</div>
					</div>
                    {% endblock %}




















