{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Farmacia 'El Tambo'</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	
    <link href="{% static 'assets/css/icons/icomoon/styles.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/core.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/components.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/colors.css' %}" rel="stylesheet" type="text/css">


	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/pace.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/core/libraries/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/select2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/forms/styling/uniform.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/ui/moment/moment.min.js' %}"></script>

    {% block rutas %}

    {% endblock %}

	<script type="text/javascript" src="{% static 'assets/js/core/app.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/pages/navbar_components.js' %}"></script>
	<!-- /theme JS files -->


</head>

<body>
    {% block header  %}
    <!-- Main navbar-->
	<div class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" href="localhost:8000/index"><img src="{% static 'assets/images/logo_tambo.png' %}" alt=""></a>

			<ul class="nav navbar-nav pull-right visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
				<li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
			</ul>
		</div>

	<!-- desplazador-->
		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav">

			</ul>

			<p class="navbar-text">
				<span class="label bg-success">SISTEMA DE GESTION DE FARMACIA </span>
			</p>

			<div class="navbar-right">
				<ul class="nav navbar-nav">


					<li class="dropdown dropdown-user">
						<a class="dropdown-toggle" data-toggle="dropdown">
							<img src="{% static 'assets/images/placeholder.jpg'%}" alt="">
							<span>{{ user.first_name}} {{user.last_name }}</span>
							<i class="caret"></i>
						</a>

						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="#"><i class="icon-user-plus"></i> Mi Perfil</a></li>
							<!--<li><a href="#"><i class="icon-coins"></i> My balance</a></li>
							<li><a href="#"><span class="badge bg-blue pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a>--></li>
							<li class="divider"></li>
							<li><a href="#"><i class="icon-cog5"></i>Configuracion</a></li>
							<li><a href="{% url 'logout' %}"><i class="icon-switch2"></i> Cerrar Sesion</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /main navbar -->
    {% endblock %}

	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main sidebar -->
			<div class="sidebar sidebar-main">
				<div class="sidebar-content">

					<!-- User menu -->
					<div class="sidebar-user">
						<div class="category-content">
						<div class="form-group has-feedback">
														<input type="text" class="form-control" placeholder="Buscar...">
														<div class="form-control-feedback">
															<i class="icon-search4 text-size-base"></i>
														</div>
													</div>


						</div>
					</div>
					<!-- /user menu -->


					<!-- Main navigation -->
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-content no-padding">
							<ul class="navigation navigation-main navigation-accordion">

								<!-- Main DASHBOARD
								<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
								<li><a href="index.html"><i class="icon-home4"></i> <span>TEMATICA AMBIENTAL</span></a></li>-->
								<li>
									<a href="http://localhost:8000/inicio"><i class="icon-home2"></i> <span>Inicio</span></a>
								</li>
								<li>
									<a href="#"><i class="icon-user-lock"></i> <span>Seguridad y permisos</span></a>
									<ul>
{#                                        <li><a href="http://localhost:8000/empleado"><i class="icon-user-plus"></i>Registro de Empleados</a></li>#}
                                        <li><a href="http://localhost:8000/registrarusuario"><i class="icon-user-check"></i>Registro de Usuarios</a></li>
{#										<li><a href="http://localhost:8000/privilegiousuario"><i class="icon-user-block"></i>Asignar Privilegios</a></li>#}
                                        <li><a href="http://localhost:8000/reset/password_reset"><i class="icon-envelop3"></i>Recuperar Cuenta</a></li>
                                        <li><a href="http://localhost:8000/gestionusuario"><i class="icon-users4"></i>Gestion de Usuario</a></li>
									</ul>
								</li>
								<li>
									<a href="#"><i class="icon-users2"></i> <span>Clientes</span></a>
									<ul>
										<li><a href="http://localhost:8000/registercliente" ><i class="icon-user-check"></i>Registro de Clientes</a></li>
                                        <li><a href="http://localhost:8000/gestioncliente"><i class="icon-users"></i>Gestion de Clientes</a></li>

									</ul>
								</li>
								<li>
									<a href="#"><i class="icon-cart5"></i> <span>Medicamentos</span></a>
									<ul>
										<li><a href="http://localhost:8000/registrarmedicamento"><i class="icon-cart-add"></i>Registro de Medicamentos</a></li>
                                        <li><a href="http://localhost:8000/gestionarmedicamento"><i class="icon-store"></i>Gestion de Medicamentos</a></li>

									</ul>
								</li>
								<li>
									<a href="http://localhost:8000/buscarmedicamento"><i class="icon-search4"></i> <span>Buscar Productos</span></a>

								</li>
                                <li>
									<a href="#"><i class="icon-truck"></i> <span>Proveedor</span></a>
                                    <ul>
										<li><a href="http://localhost:8000/registerproveedor"><i class="icon-versions"></i>Registro de Proveedor</a></li>
                                        <li><a href="http://localhost:8000/gestionproveedor"><i class="icon-cabinet"></i>Gestion de Proveedoress</a></li>

									</ul>

								</li>
								<li>
									<a href="http://localhost:8000/mostrarboleta"><i class="icon-printer4"></i> <span>Generar Comprobante</span></a>
                                 </li>
                                 <li>
									<a href="#"><i class="icon-stats-growth"></i> <span>Generar Reportes</span></a>
                                 </li>

							</ul>
						</div>
					</div>
					<!-- /main navigation -->

				</div>
			</div>
			<!-- /main sidebar -->


			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Page header -->
            {% block content-header %}

            {% endblock %}
				<!-- /page header -->


				<!-- Content area -->
				<div class="content">
                     <!--
					<!-- Custom components -->

                    {% block content %}
                    {% endblock %}


					<!-- Footer -->
					<div class="footer text-muted">
						&copy; 2017. <a href="">https://www.farmaciatambo.com/</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Av.Heroes 654 - 658, San juan de miraflores Lima-Perú</a>
					</div>
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

</body>
</html>
