{% extends  'base/base.html'%}
{% load staticfiles %}
{% block rutas %}
    <script type="text/javascript" src="{% static 'assets/js/plugins/pickers/daterangepicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/anytime.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/picker.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/picker.date.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/picker.time.js' %}"></script>
	<script type="text/javascript" src="{% static 'assets/js/plugins/pickers/pickadate/legacy.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/pages/picker_date.js' %}"></script>
{% endblock %}
{% block content-header %}
				<div class="page-header page-header-default">
					<div class="page-header-content">
						<div class="page-title">
							<h4><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-arrow-left52 position-left"></i> </a><span class="text-semibold">Medicamentos</span> / Actualizar de Medicamentos</h4>
						</div>

					</div>


				</div>
{% endblock %}
{% block content %}
					<div class="panel panel-flat">


						<div class="panel-body">
							<!--<p class="content-group">Besides navigation, navbar component supports custom content such as: dropdown menus with custom content, full width dropdowns, language selects, forms, tabs, multi level menus, date pickers etc. Everything is adapted to use in different navbar color schemes and sizes. Examples below demonstrate some of these components, other examples related to <code>mega menu</code> can be found <a href="navigation_horizontal_mega.html">on this page</a>.</p>-->
							<!-- Basic datatable -->



                     <!-- Advanced legend -->
							<form class="form-horizontal" method="post">
                                {% csrf_token %}
{#                                {{ form.as_p }}#}
								<div class="panel panel-flat">
									<div class="panel-body">
										<fieldset>
											<legend class="text-semibold">
												<i class="icon-lab"></i>
												ACTUALIZAR MEDICAMENTO
												<a class="control-arrow" data-toggle="collapse" data-target="#demo1">
													<i class="icon-circle-down2"></i>
												</a>
											</legend>


											<div class="collapse in" id="demo1">
												<div class="form-group">
													<label class="col-lg-2 control-label">Id:</label>
													<div class="col-lg-10">
                                                        <div class="row">

                                                            <div class="col-md-1">
                                                                {{ form.id_medicamento }}

                                                            </div>

                                                            <div class="col-md-1">
														       <label class="col-lg-3 control-label">Tipo:</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                {{ form.tipo }}
{#                                                                <input type="text" class="form-control" placeholder="Nombre Comercial">#}
                                                            </div>

                                                            <div class="col-md-2">
														       <label class="col-lg-3 control-label">Nombre_Comercial:</label>
                                                            </div>
                                                            <div class="col-md-5">
                                                                {{ form.nombre_comercial }}
{#                                                                <input type="text" class="form-control" placeholder="Nombre Comercial">#}
                                                            </div>


                                                        </div>
                                                    </div>
												</div>
                                                <div class="form-group">
													<label class="col-lg-2 control-label">Componentes:</label>
													<div class="col-lg-10">
                                                        <div class="row">
                                                            <div class="col-md-8">
                                                                {{ form.componente }}
{#														        <input type="text" class="form-control" placeholder="Componentes">#}
                                                            </div>
                                                            <div class="col-md-2">
														       <label class="col-lg-3 control-label">Concentracion:</label>
                                                            </div>
                                                            <div class="col-md-2">
                                                                {{ form.concentracion }}
{#                                                                <input type="text" class="form-control"  placeholder="ml/gr/ml/lt">#}

                                                            </div>


                                                        </div>
                                                    </div>
												</div>
                                                <div class="form-group">
													<label class="col-lg-2 control-label">Fecha_Produccion:</label>
													<div class="col-lg-10">
                                                        <div class="row">
                                                            <div class="col-md-3">
														        <div class="input-group">
                                                                    <span class="input-group-addon"><i class="icon-calendar3"></i></span>
                                                                    {{ form.fecha_produccion }}
{#											                        <input type="text" class="form-control" id="rangeDemoStart" value="04/06/2017">#}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2">
														       <label class="col-lg-2 control-label">Fecha_Expiracion:</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="input-group">
                                                                    <span class="input-group-addon"><i class="icon-calendar3"></i></span>
                                                                    {{ form.fecha_expiracion }}
{#											                        <input type="text" class="form-control" id="rangeDemoFinish" value="04/06/2017">#}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1">
														       <label class="col-lg-3 control-label">Lote:</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                {{ form.lote }}
{#                                                                <input type="text" class="form-control"  placeholder="Numero de Lote">#}

                                                            </div>


                                                        </div>
                                                    </div>
												</div>
                                                <div class="form-group">
													<label class="col-lg-2 control-label">Descripcion:</label>
													<div class="col-lg-10">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                {{ form.descripcion }}
{#														        <input type="text" class="form-control" placeholder="Descripcion de indicaciones">#}
                                                            </div>



                                                        </div>
                                                    </div>

												</div>
                                                <div class="form-group">
													<label class="col-lg-2 control-label">Costo_Unidad:</label>
													<div class="col-lg-10">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                {{ form.costo_unidad }}
{#														        <input type="text" class="form-control" placeholder="Costo de Unidad">#}
                                                            </div>
                                                            <div class="col-md-2">
														       <label class="col-lg-3 control-label">Venta_Unidad:</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                {{ form.venta_unidad }}
{#                                                                <input type="text" class="form-control"  placeholder="Precio de  Venta">#}

                                                            </div>
                                                            <div class="col-md-1">
														       <label class="col-lg-2 control-label">Stock:</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                {{ form.stock }}
{#                                                                <input type="text" class="form-control"  placeholder="Numero de Productos">#}

                                                            </div>


                                                        </div>
                                                    </div>
												</div>



                                                <div class="form-group">
                                                    <label class="col-lg-2 control-label">Presentacion:</label>
													<div class="col-lg-10">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                {{ form.presentacion }}
{#														      <select data-placeholder="--Selecciones Presentacion--" class="select">#}
{#                                                            <option></option>#}
{#					                                        <option value="1">Administrador</option>#}
{#					                                        <option value="2">Vendedor</option>#}
{#					                                        <option value="3">Supervisor</option>#}
{#					                                        <option value="4">Invitado</option>#}
{#					                                          </select>#}
                                                            </div>
                                                            <div lass="col-md-2">
                                                              <label class="col-lg-2 control-label">Proveedor:</label>
                                                            </div>
                                                            <div lass="col-md-4">
                                                                {{ form.proveedor }}
{#                                                              <select data-placeholder="--Selecciones Proveedor--" class="select">#}
{#                                                            <option></option>#}
{#					                                        <option value="1">Administrador</option>#}
{#					                                        <option value="2">Vendedor</option>#}
{#					                                        <option value="3">Supervisor</option>#}
{#					                                        <option value="4">Invitado</option>#}
{#					                                          </select>#}
                                                            </div>
{#                                                            <div class="col-md-5">#}
{#                                                                <label class="checkbox-inline">#}
{#											                    {{ form.estado }}#}
{#											                      Activo#}
{#                                                                </label>#}
{#                                                            </div>#}
                                                            <div class="col-md-5">
                                                                <label class="checkbox-inline">
											                    <input type="checkbox" name="estado" {% if form.estado.value == 1 %}checked="checked"{% endif %} />
											                      Activo
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
												</div>

											</div>
										</fieldset>


										<div class="text-right">
											<button type="submit" class="btn btn-primary">Ingresar<i class="icon-arrow-right14 position-right"></i></button>
										</div>
									</div>
								</div>
							</form>
							<!-- /a legend -->






						</div>
					</div>
                    {% endblock %}